.mainPageContainer{
    font-family: 'Utendo', 'Helvetica', 'sans-serif';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bannerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 100%;
}

.bannerImgContainer{
    display: flex;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
}

.bannerImg{
    max-width: 100%;
    opacity: 0.5;
}

.bannerTitle{
    position: absolute;
    z-index: 5;
    top: 100px;
    opacity: 0.9;
    font-weight: bold;
}