.backgroundWrapper{
    width: 100%;
    margin-bottom: auto;
}

.textWrapper{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactInfoPage {
    font-family: 'Utendo', 'Helvetica', 'sans-serif';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #fff;
    height: 722px;
    min-width: 1519px;
    color:#242424;
    position: relative;
}

.wave {
    margin-bottom: auto;
    display: block;
    position: relative;
    height: 40px;
    width: 100%;
    background: #242424;
    transform: scale(1, 1);
  }
  
  .wave:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 300px;
    background-color: white;
    right: -25%;
    top: 20px;
  }
  
  .wave:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 300px;
    background-color: #242424;
    left: -25%;
    top: -240px;
    clip-path: ellipse(100% 15% at -15% 100%);
  }

.divider{
    width: 800px;
}

.detailsContainer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: fit-content;
    margin-top: 30px;
    
}

.io{
    align-self: flex-start;
    margin-top: auto;
    z-index: 100;
    width: 300px;
}

.contactRow{
    font-size: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10px;
}



.socialImg{
    width: 35px;
    margin-right: 10px;
}

.socialLink{
    color: #242424;
    transition: color 0.3s;
}

.socialLink:hover{
    color: #646cff;
}